<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ela Admin - HTML5 Admin Template</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Usando Thymeleaf para manejar los iconos -->
    <link rel="apple-touch-icon" th:href="@{https://i.imgur.com/QRAUqs9.png}">
    <link rel="shortcut icon" th:href="@{https://i.imgur.com/QRAUqs9.png}">

    <!-- Usamos 'th:href' para manejar las rutas de las hojas de estilo -->
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link th:href="@{https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css}" rel="stylesheet">
    <link th:href="@{https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css}" rel="stylesheet" />
    <link th:href="@{https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css}" rel="stylesheet" />

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff!important;
        }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }
        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }
    </style>
</head>

<body>
    <!-- LEFT PANEL-->
    <div th:replace="~{fragments/left-panel}"></div> 

    <!-- RIGHT PANEL -->
    <div id="right-panel" class="right-panel">
    
        <!-- HEADER -->
        <div th:replace="~{fragments/header :: header}"></div>
        
        <div class="content">
        
            <!-- FORM -->
            <div class="col-lg-10"> <!-- Aca se puede ajustar el ancho del formulario -->
            
                <div class="card">
                    <div class="card-header"><strong th:text="${accion}"></strong><strong> Visitante</strong></div>

                    <form>
                        <div class="card-body card-block">
                            <!-- Campo oculto para el ID del visitante -->
                            <input type="hidden" name="id" th:value="${visitante.id}">
                            <input type="hidden" name="accion" th:value="${accion}">

                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input name="nombre" type="text" id="nombre" placeholder="Ingrese el nombre"
                                       class="form-control" th:value="${visitante.nombre}"
                                       th:disabled="${accion == 'Eliminar' OR accion == 'Consultar'}">
                            </div>

                            <div class="form-group">
                                <label for="apellido">Apellido</label>
                                <input name="apellido" type="text" id="apellido" placeholder="Ingrese el apellido"
                                       class="form-control" th:value="${visitante.apellido}"
                                       th:disabled="${accion == 'Eliminar' OR accion == 'Consultar'}">
                            </div>

                            <div class="form-group">
                                <label for="numeroDeDocumento">DNI</label>
                                <input name="numeroDeDocumento" type="text" id="numeroDeDocumento" placeholder="Ingrese el DNI"
                                       class="form-control" th:value="${visitante.numeroDeDocumento}"
                                       th:disabled="${accion == 'Eliminar' OR accion == 'Consultar'}">
                            </div>

                            <button type="submit" class="btn btn-dark" formaction="/visitante/listarVisitantes" formmethod="GET">Volver</button>

                            <button th:if="${accion == 'Crear'}" type="submit" class="btn btn-primary"
                                    formaction="/visitante/actualizar-visitante" formmethod="POST">Crear visitante</button>

                            <button th:if="${accion == 'Modificar'}" type="submit" class="btn btn-primary"
                                    formaction="/visitante/actualizar-visitante" formmethod="POST">Modificar visitante</button>

                            <button th:if="${accion == 'Eliminar'}" type="submit" class="btn btn-danger"
                                    formaction="/visitante/eliminar-visitante" formmethod="POST">Eliminar visitante</button>
                        </div>
                    </form>


                </div>

            </div><!-- .col-lg-6 -->
            <!-- END FORM -->
            
        </div><!-- .content -->
    
    </div><!-- #right-panel -->
    <!-- END RIGHT PANEL -->

    <!-- Scripts -->
	<div th:replace="~{fragments/js-fragments :: scripts-comunes}"></div>

</body>
</html>
