<!-- Header-->
<header id="header" class="header">
    <div class="top-left">
        <div class="navbar-header">
            <!-- Usamos 'th:href' para hacer las URLs relativas dinámicas -->
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/logo.png}" alt="Logo">
            </a>
            <a class="navbar-brand hidden" th:href="@{/}">
                <img th:src="@{/images/logo2.png}" alt="Logo">
            </a>
        </div>
    </div>
    
</header>
